<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8"/>
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
          title="{{ SITENAME }} Full Atom Feed"/>
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
          title="{{ SITENAME }} Full RSS Feed"/>
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate"
          title="{{ SITENAME }} Atom Feed"/>
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate"
          title="{{ SITENAME }} RSS Feed"/>
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml"
          rel="alternate" title="{{ SITENAME }} Categories Atom Feed"/>
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml"
          rel="alternate" title="{{ SITENAME }} Categories RSS Feed"/>
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate"
          title="{{ SITENAME }} Tags Atom Feed"/>
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate"
          title="{{ SITENAME }} Tags RSS Feed"/>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/app.css"/>
      <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>

    {% endblock head %}
</head>

<body id="index" class="home">
    <div class="row">
        <div class="large-12 columns">
            <h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
            <div class="nav-bar left">
                <ul class="button-group">
                    {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}" class="button">{{ title }}</a></li>
                    {% endfor %}
                    {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in PAGES %}
                    <li
                    {% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}" class="button">{{ p.title }}</a></li>
                    {% endfor %}
                    {% else %}
                    {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                    <li
                    {% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}" class="button">{{ cat
                    }}</a></li>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="large-12 columns" role="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <!-- Begin MailChimp Signup Form -->

        <div id="mc_embed_signup">
        <form action="//ryansadwick.us10.list-manage.com/subscribe/post?u=e3eefc160fbed517db71eb0f9&amp;id=5aab482b5e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <h2>Subscribe to our mailing list</h2>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
        </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_e3eefc160fbed517db71eb0f9_5aab482b5e" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
    </div>
    <footer class="row">

        <div class="large-12 columns">
            <hr/>
            <div class="row">
                <div class="large-6 columns">
                    <address id="about" class="vcard body">
                        Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                        which takes great advantage of <a href="http://python.org">Python</a>.
                    </address>
                    <!-- /#about -->
                </div>
                <div class="large-6 columns">
                    <ul class="inline-list right">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>
