<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8"/>
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
          title="{{ SITENAME }} Full Atom Feed"/>
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
          title="{{ SITENAME }} Full RSS Feed"/>
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate"
          title="{{ SITENAME }} Atom Feed"/>
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate"
          title="{{ SITENAME }} RSS Feed"/>
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml"
          rel="alternate" title="{{ SITENAME }} Categories Atom Feed"/>
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml"
          rel="alternate" title="{{ SITENAME }} Categories RSS Feed"/>
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate"
          title="{{ SITENAME }} Tags Atom Feed"/>
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate"
          title="{{ SITENAME }} Tags RSS Feed"/>
    {% endif %}

    {% if ASSET_DEBUG == True %}

    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/app.css"/>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/slick-theme.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    {% else %}
    <link rel="stylesheet" type="text/css" href="//s3.amazonaws.com/rsadwick/css/ryan.min.css"/>

    {% endif %}


    {% endblock head %}
</head>

<body id="index" class="home">
<header>
    <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="{{ SITEURL }}/"><i class="orange fa fa-coffee fa"></i> {{ SITENAME }}</a></h1>
                </li>

                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">

                <!-- Left Nav Section -->
                <ul class="left">
                    {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                    {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in PAGES %}
                    <li
                    {% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title
                    }}</a></li>
                    {% endfor %}
                    {% else %}
                    {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                    <li
                    {% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat
                    }}</a></li>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </ul>
            </section>
        </nav>
    </div>

</header>

<div class="row">
    <div class="large-12 columns" role="content">
        {% block content %}
        {% endblock %}
    </div>
</div>


{% if BIBLE_VERSES %}


<div id="holy-word">
    <div class="row bible-verses">

        {% for verse, book in BIBLE_VERSES %}
            <div><blockquote>{{ verse }}<cite>{{ book }}</cite></blockquote></div>
        {% endfor %}

    </div>
</div>

{% endif %}


<div id="subscription">
    <div id="mc_embed_signup" class="row">
        <div class="row sub-cta">
            <h3> <i class="fa fa-link fa"></i> Get Connected</h3>
            <p>Every week I send an encouraging message.  You won't find any sales pitches - only being real and doing life together.</p>
        </div>
        <form action="//ryansadwick.us10.list-manage.com/subscribe/post?u=e3eefc160fbed517db71eb0f9&amp;id=5aab482b5e"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
              target="_blank" novalidate>

            <div class="large-12 columns">
                <div class="row collapse">

                    <div class="small-2 large-2 columns">
                        <span class="prefix"> <i class="fa fa-paper-plane fa"></i> stay connected </span>
                    </div>

                    <div class="small-7 columns">
                        <input type="email" value=""
                               placeholder="Enter your email to subscribe." name="EMAIL"
                               class="required email"
                               id="mce-EMAIL">

                        <div id="mce-responses">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                            <div style="position: absolute; left: -5000px;"><input type="text"
                                                                                   name="b_e3eefc160fbed517db71eb0f9_5aab482b5e"
                                                                                   tabindex="-1" value=""></div>
                        </div>
                    </div>
                    <div class="small-3 columns">

                        <input type="submit" value="go" name="subscribe"
                               id="mc-embedded-subscribe" class="button postfix">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<footer class="footer-base">
    <div class="row">
        <div class="large-8 columns">

            <h3>Howdy Social Networks</h3>
            <p>Stop by and share.</p>
            <ul class="inline-list left">
                <li><a href="https://github.com/rsadwick" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
                <li><a href="https://www.twitter.com/rsadwick" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                <li><a href="https://www.pinterest.com/rsadwick/" target="_blank"><i class="fa fa-pinterest fa-2x"></i></a></li>
                <li><a href="http://steamcommunity.com/id/rsadwick" target="_blank"><i class="fa fa-steam fa-2x"></i></a></li>
                <li><a href="https://www.linkedin.com/in/rsadwick" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>

            </ul>

            <hr>
            <i class="blood-of-the-lamb fa fa-heart fa alert"></i> Proudly powered by <a href="http://getpelican.com/" target="_blank">Pelican</a>,
            which takes great advantage of <a href="http://python.org" target="_blank">Python</a>. <i class="blood-of-the-lamb fa fa-heart fa alert"></i>
        </div>
        <div class="large-4 columns">
            <ul class="inline-list right">
                <li><a href="http://www.howtomakedisciplesthatmakedisciples.com/">Disciples</a></li>
                <li><a href="#">Copyright Notice</a></li>

            </ul>
        </div>
    </div>

</footer>

{% if ASSET_DEBUG == True %}
    <script src="{{ SITEURL }}/theme/js/libs/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/libs/foundation.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/app.js"></script>
    <script src="{{ SITEURL }}/theme/js/libs/slick/slick.min.js"></script>

{% else %}
    <script src="//s3.amazonaws.com/rsadwick/js/ryan.min.js"></script>
{% endif %}

{% include 'analytics.html' %}
</body>
</html>
